.createUser-form {
  width: 500px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #42362d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  background-color: #e8f5e9;
  color: #262b42;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.createUser-form h2 {
  text-align: left;
  font-size: 33.75px;
  color: #ded4af;
  margin-bottom: 20px;
  margin-top: 0%;
}

.createUser-form div {
  margin-bottom: 0px;
}

.createUser-form label {
  display: block;
  font-weight: bold;
  text-align: left;
  color: #ded4af;
  font-size: 18px;
  margin-bottom: 0px;
}

.createUser-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.createUser-form-button {
  display: flex;
  justify-content: space-between;
}

.createUser-form button {
  width: auto;
  padding: 15px;
  margin-top: 10px;
  color: #faf7d5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.turnBack {
  background-color: #262b42;
}
.createUser {
  background-color: #454e7e;
}

.createUser-form button:hover {
  background-color: #8195de;
}

.createUser-form .error {
  color: red;
  font-size: 14px;
  text-align: center;
}
